+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="MyIKEv2: a Testing tool for IPsec/IKEv2" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://myikev2.net/myikev2.gz">
		Download 4.0<i class="fas fa-download"></i>
	</a>
	<p class="lead mt-5">Overview</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}




{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fas fa-list" url="/docs" title="Comprehensive Features" %}}
Extensive IPsec/IKEv2 feature support, keep up with latest standards.
{{% /blocks/feature %}}


{{% blocks/feature icon="far fa-cog" title="API Control" url="https://github.com/google/docsy-example" %}}
MyIKEv2 provides a set of gRPC API that enables test automation.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-cubes" title="Load Testing" url="https://twitter.com/docsydocs" %}}
MyIKEv2 could be used as IPsec load testing tool to generate large amount IPsec/IKEv2 tunnels at the same time.
{{% /blocks/feature %}}

{{% blocks/feature icon="f" title="" %}}
{{% /blocks/feature %}}
{{% blocks/feature icon="fas fa-network-wired" title="Scale Out" %}}
MyIKEv2 could run on multiple servers/VMs in an orchested way to provide flexible test setup or provide high load testing power.
{{% /blocks/feature %}}

{{% blocks/feature icon="f" title="" %}}
{{% /blocks/feature %}}

{{< /blocks/section >}}




